<h1 style="color:blue;">Ingrese datos</h1>
<br>

<form action="/api/productos/cargados" method="post">

    <div class="form-group">
        <label for="title"><b>Titulo</b></label>
        <input id="title" class="form-control" type="text" name="title">
    </div>

    <div class="form-group">
        <label for="price"><b>Precio</b></label>
        <input id="price" class="form-control" type="number" name="price">
    </div>

    <div class="form-group">
        <label for="tumbline"><b>Imagen</b></label>
        <input id="tumbline" class="form-control" type="file" accept="image/png, image/jpg" name="tumbline">
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>