html
    head
        title='Mi plantilla de inicio en Pug'
    body
        - const estilo = "width:25%;height:20px"
        h1(style="color:blue;")!=titulo
        p=info
        form(action="/apis", method="post") 
                            button(style="background:red")="Ir"